body {
  font-family: Arial, Helvetica, sans-serif;

}

.header {
  white-space: nowrap;
}

.hamburger {
  padding: -10px 5px 0px 0px;
}

.title {
  text-align: center;
  background-color: rgb(252, 27, 27);
  color: rgb(255, 255, 255);
  padding-top: 30px;
  padding-bottom: 30px;
}

.search {
  background-color: rgb(233, 233, 233);
  padding: 15px 10px 15px 10px;
  margin-top: -21px;
}

.searchbar {
  border-radius: 0px 10px 10px 0px;
  border-width: 2px;
  border-color: grey;
  padding: 5px 30% 5px 10px;
  margin-left: -5px;
}

.dropdown {
  margin-left: 10px;
  padding: 5px 2% 5px 0px;
  border-color: grey;
}

.search_drop_down {
  padding: 5px 0px 5px 0px;
  border-radius: 10px 0px 0px 10px;
  border-width: 2px;
  border-color: grey;
}

.newButton {
  color: rgb(0, 176, 0);
  background-color: white;
  border-style: dashed;
  border-color: rgb(0, 176, 0);
  padding: 5pt 20pt;
}

.dateSelector {
  padding: 4px 0pt;
}

.buttonSection {
  background-image: url('/img/background.webp');
  background-repeat: no-repeat;
  justify-content: flex-start;
}

.arrivalsButton {
  background-color: rgb(0, 207, 0);
  color: white;
  padding: 5% 6%;
  border: 0pt;
}

.stayoversButton {
  background-color: rgb(61, 174, 255);
  color: white;
  padding: 5% 6%;
  border: 0pt;
}

.departuresButton {
  background-color: rgb(252, 27, 27);
  color: white;
  padding: 5% 6%;
  border: 0pt;
}

.VIPButton {
  background-color: rgb(255, 209, 24);
  color: white;
  padding: 5% 6%;
  border: 0pt;
}

.occupiedButton {
  background-color: rgb(61, 174, 255);
  color: white;
  padding: 5% 6%;
  border: 0pt;
}